<div class="container">
  <h2>Staff Search</h2>

  <div class="form-group">
    <div class="col-12">
      <input class="form-control" placeholder="Search staff" ng-model="$ctrl.query" />
    </div>
  </div>

  <div class = "row">
    <div class = "col-xs-6 col-sm-3 col-lg-3" ng-repeat=" person in $ctrl.staff | searchFilter: $ctrl.query">
      <div class= "box text-center">
        <img src="http://api.adorable.io/avatars/120/{{person.name}}@adorable.png" class="img-circle">
        <h3>{{person.name}}</h3>
        <h4>Role: {{person.role}}</h4>
        <h4>Office: {{person.office}}</h4>
      </div>
    </div>
  </div>

  <div class="alert alert-warning" ng-show = "( $ctrl.staff | searchFilter: $ctrl.query).length == 0" >
    <p>No result found</p>
  </div>

</div>
